.btn-container {
    display: flex;
    flex-direction: column;
    margin: 8px 0;
}

.btn {
    border-radius: 8px;
    height: 45px;
    background-color: rgb(100, 150, 255);
    color: white;
    font-size: 18px;
}

.btn:hover {
    background-color: rgb(80, 120, 255);
    cursor: pointer;
}